:root {
  --primary-color:#b9fff8;
  --secondary-color:#6fedd6;
  --tertiary-color:#FF9551;
  --fourth-color:  #FF4A4A
  --fifth-color: #2b3a55;
  --black: #000;
  --white: #fff;
  --font-family: "Nunito";
  --h1-font: 30px;
  --h2-font: 24px;
  --h3-font: 18px;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 80px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.pokedex {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  text-align: center;
}

.pokemon-header {
  padding: 15px;
  font-weight: 700;
}

.pokemon-button {
  width: 40%;
  background-color: var(--secondary-color);
  border: none;
}

.button:hover {
  background-color: var(--primary-color);
  transition-duration: 100;
}

.btn-outline-info{
  background-color: var(--white);
  border-color: var(--white);
}

.btn-outline-info:hover{
  background-color: var(--primary-color);
  transition-duration: 100ms;
  border-color: var(--secondary-color);
}

.input-group-btn {
  background-color: white;
}

.list-group-item {
  border: none;
  background-color: var(--primary-color);
}

.modal {
  text-align: center
}

.pokemon-img {
  width: 200px;
  height: 200px;
}

.modal-dialog {
  border: 10px solid;
  border-radius: 15px;
}

.form-control {
  padding: 0
}
